<h3>new-component</h3>
{{!-- <p>{{title}}</p> --}}
<input type="text" value={{title}}>
{{yield title}}
{{!-- <input type="text" {{yield title}} value={{title}}> --}}
{{!-- <div class="body">{{yield}}</div> --}}


